# Groq API Configuration
# Get your API key from https://console.groq.com/
GROQ_API_KEY=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

# Supabase Credentials
# Found in Project Settings -> API in your Supabase Dashboard
SUPABASE_URL=https://byayzqczhhmtyydnornd.supabase.co
SUPABASE_KEY=SUPABASE_KEY=sb_secret_Yl3GkeT_Hk24MvvwBuZ88g_KG649GiT

